*results*/
resources/**
logs/**
*.log
*.error
slurm-logs/
.snakemake
.snakemake/**
config/*samples.txt
!config/TEMPLATE_samples.txt
neat/
fastqc.sh

*.dot
*.png
*.csv
*.tsv
*.txt
*.pdf

snakemake-env/

workflow/rules/clean.smk